In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('train.csv')
print(data)

      beds  baths  size size_units  lot_size lot_size_units  zip_code price
0        3    2.5  2590       sqft   6000.00           sqft     98144   yes
1        4    2.0  2240       sqft      0.31           acre     98106   yes
2        4    3.0  2040       sqft   3783.00           sqft     98107   yes
3        4    3.0  3800       sqft   5175.00           sqft     98199   yes
4        2    2.0  1042       sqft       NaN            NaN     98102   yes
...    ...    ...   ...        ...       ...            ...       ...   ...
2011     3    2.0  1370       sqft      0.50           acre     98112   yes
2012     1    1.0   889       sqft       NaN            NaN     98121   yes
2013     4    2.0  2140       sqft   6250.00           sqft     98199   yes
2014     2    2.0   795       sqft       NaN            NaN     98103   yes
2015     3    2.0  1710       sqft   4267.00           sqft     98133   yes

[2016 rows x 8 columns]

In [22]:
#imputing missing values 

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(data.iloc[:,4:5])
data.iloc[:,4:5] = imputer.transform(data.iloc[:,4:5]) 
print(data)

      beds  baths  size size_units     lot_size lot_size_units  zip_code price
0        3    2.5  2590       sqft  6000.000000           sqft     98144   yes
1        4    2.0  2240       sqft     0.310000           acre     98106   yes
2        4    3.0  2040       sqft  3783.000000           sqft     98107   yes
3        4    3.0  3800       sqft  5175.000000           sqft     98199   yes
4        2    2.0  1042       sqft  3871.059694            NaN     98102   yes
...    ...    ...   ...        ...          ...            ...       ...   ...
2011     3    2.0  1370       sqft     0.500000           acre     98112   yes
2012     1    1.0   889       sqft  3871.059694            NaN     98121   yes
2013     4    2.0  2140       sqft  6250.000000           sqft     98199   yes
2014     2    2.0   795       sqft  3871.059694            NaN     98103   yes
2015     3    2.0  1710       sqft  4267.000000           sqft     98133   yes

[2016 rows x 8 columns]

In [23]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(data.iloc[:,5:6])
data.iloc[:,5:6] = imputer.transform(data.iloc[:,5:6]) 
print(data)

      beds  baths  size size_units     lot_size lot_size_units  zip_code price
0        3    2.5  2590       sqft  6000.000000           sqft     98144   yes
1        4    2.0  2240       sqft     0.310000           acre     98106   yes
2        4    3.0  2040       sqft  3783.000000           sqft     98107   yes
3        4    3.0  3800       sqft  5175.000000           sqft     98199   yes
4        2    2.0  1042       sqft  3871.059694           sqft     98102   yes
...    ...    ...   ...        ...          ...            ...       ...   ...
2011     3    2.0  1370       sqft     0.500000           acre     98112   yes
2012     1    1.0   889       sqft  3871.059694           sqft     98121   yes
2013     4    2.0  2140       sqft  6250.000000           sqft     98199   yes
2014     2    2.0   795       sqft  3871.059694           sqft     98103   yes
2015     3    2.0  1710       sqft  4267.000000           sqft     98133   yes

[2016 rows x 8 columns]

In [24]:
i=0
for m in data.lot_size_units:
    if (str(m) == "acre"):
        (data.lot_size)[i]=float((data.lot_size)[i])*float(43560)
    i=i+1

      beds  baths  size size_units      lot_size lot_size_units  zip_code  \
0        3    2.5  2590       sqft   6000.000000           sqft     98144
1        4    2.0  2240       sqft  13503.600000           acre     98106
2        4    3.0  2040       sqft   3783.000000           sqft     98107
3        4    3.0  3800       sqft   5175.000000           sqft     98199
4        2    2.0  1042       sqft   3871.059694           sqft     98102
...    ...    ...   ...        ...           ...            ...       ...
2011     3    2.0  1370       sqft  21780.000000           acre     98112
2012     1    1.0   889       sqft   3871.059694           sqft     98121
2013     4    2.0  2140       sqft   6250.000000           sqft     98199
2014     2    2.0   795       sqft   3871.059694           sqft     98103
2015     3    2.0  1710       sqft   4267.000000           sqft     98133

     price
0      yes
1      yes
2      yes
3      yes
4      yes
...    ...
2011   yes
2012   yes
2013   yes
2014   yes
2015   yes

[2016 rows x 8 columns]

C:\Users\mozwa\AppData\Local\Temp\ipykernel_3084\2757810061.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  (data.lot_size)[i]=float((data.lot_size)[i])*float(43560)

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data.iloc[:,-1] = le.fit_transform(data.iloc[:,-1])
# 'data.iloc[:,-1]' is used to select the column that we need to be encoded
data

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,2590,sqft,6000.000000,sqft,98144,1
1,4,2.0,2240,sqft,13503.600000,acre,98106,1
2,4,3.0,2040,sqft,3783.000000,sqft,98107,1
3,4,3.0,3800,sqft,5175.000000,sqft,98199,1
4,2,2.0,1042,sqft,3871.059694,sqft,98102,1
...,...,...,...,...,...,...,...,...
2011,3,2.0,1370,sqft,21780.000000,acre,98112,1
2012,1,1.0,889,sqft,3871.059694,sqft,98121,1
2013,4,2.0,2140,sqft,6250.000000,sqft,98199,1
2014,2,2.0,795,sqft,3871.059694,sqft,98103,1
2015,3,2.0,1710,sqft,4267.000000,sqft,98133,1

In [29]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data.iloc[:,4:5]= pd.DataFrame(scaler.fit_transform(data.iloc[:,4:5])) 
data

      beds  baths  size size_units  lot_size lot_size_units  zip_code  price
0        3    2.5  2590       sqft  0.000505           sqft     98144      1
1        4    2.0  2240       sqft  0.001194           acre     98106      1
2        4    3.0  2040       sqft  0.000301           sqft     98107      1
3        4    3.0  3800       sqft  0.000429           sqft     98199      1
4        2    2.0  1042       sqft  0.000310           sqft     98102      1
...    ...    ...   ...        ...       ...            ...       ...    ...
2011     3    2.0  1370       sqft  0.001954           acre     98112      1
2012     1    1.0   889       sqft  0.000310           sqft     98121      1
2013     4    2.0  2140       sqft  0.000528           sqft     98199      1
2014     2    2.0   795       sqft  0.000310           sqft     98103      1
2015     3    2.0  1710       sqft  0.000346           sqft     98133      1

[2016 rows x 8 columns]

In [30]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data.iloc[:,2:3]= pd.DataFrame(scaler.fit_transform(data.iloc[:,2:3])) 
data

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,2.5,0.217472,sqft,0.000505,sqft,98144,1
1,4,2.0,0.184944,sqft,0.001194,acre,98106,1
2,4,3.0,0.166357,sqft,0.000301,sqft,98107,1
3,4,3.0,0.329926,sqft,0.000429,sqft,98199,1
4,2,2.0,0.073606,sqft,0.000310,sqft,98102,1
...,...,...,...,...,...,...,...,...
2011,3,2.0,0.104089,sqft,0.001954,acre,98112,1
2012,1,1.0,0.059387,sqft,0.000310,sqft,98121,1
2013,4,2.0,0.175651,sqft,0.000528,sqft,98199,1
2014,2,2.0,0.050651,sqft,0.000310,sqft,98103,1
2015,3,2.0,0.135688,sqft,0.000346,sqft,98133,1

In [31]:
cleaned_df = pd.DataFrame({'beds':data.beds,'baths':data.baths,'size':data.size,'lot_size':data.lot_size,'price':data.price})
cleaned_df.to_csv('Cleaned_train.csv')